* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #0f172a;
  color: white;
  overflow-x: hidden;
}

.background-blur {
  position: fixed;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, #00f5ff, transparent);
  top: -100px;
  left: -100px;
  filter: blur(200px);
  opacity: 0.4;
  animation: float 10s infinite alternate ease-in-out;
  z-index: -1;
}

@keyframes float {
  to {
    transform: translate(200px, 200px);
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #94a3b8;
}

nav a:hover {
  color: #00f5ff;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  max-width: 700px;
  margin: auto;
  opacity: 0.8;
}

.buttons {
  margin-top: 30px;
}

.btn {
  padding: 12px 25px;
  border: 1px solid #00f5ff;
  color: white;
  text-decoration: none;
  margin: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.btn.primary {
  background: #00f5ff;
  color: black;
}

.btn:hover {
  transform: translateY(-3px);
}

.card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(15px);
  margin: 40px auto;
  padding: 40px;
  max-width: 900px;
  border-radius: 20px;
}

.skills span {
  display: inline-block;
  background: #1e293b;
  padding: 10px 18px;
  margin: 10px;
  border-radius: 50px;
}

footer {
  text-align: center;
  padding: 40px;
  opacity: 0.6;
}
